*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  --black: #0D114F;
  --white: #FAFAFA;
  --red: #E83F5B;
  --light-blue: #E0ECFF;
  --blue: #3485FF;
  --background: #FBFCFF;
  --overlay: #040911;
  --icons-details: #A5B0C1;
  --grey-dark: #4D5E77;
  --grey-blue: #A1B2CD;
  --grey-medium: #D3D9E2;
  --grey-light: #E5EAF1;
  --grey-medium: #EAECF2;

  font-size: 62.5%;
} 

body{
  height: 100vh; /**100% da altura**/
/**  width: 100vw; /**100% da largura**/
  background: var(--background);
  display: flex;  
}

body, button, input, textarea{
  font-size: clamp(14px, 1.6rem, 2vw); 
  /**clamp(menor tamanho possível, tamanho padrão, maior largura possível)**/
  font-family: 'Open Sans', sans-serif;
  /**font-family: 'Poppins', sans-serif;*/
}

.content{
  width: 100%;
  margin: 0 auto;
}

/** classe para ocultar label sem afetar a acessibilidade**/
.sr-only{
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden; /**sem barra de rolagem**/
  clip-path: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

/*-------- Input and buttons ---------*/
input, button, .button{
  border-radius: .8rem;
  height: 5rem;
}

button, .button{
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 0; /*espaçamento de linhas*/
  display: flex;
  align-items: center;
  justify-content: center; /*alinha img e texto*/
  background: var(--blue);
  color: var(--white);
  transition: filter .2s; /*mudança de cor*/
  cursor: pointer;
}

button:hover, .button:hover{
  filter:brightness(1.2); /*brilho no button*/ 
}

button > object,
.button > object{
  margin-right: 1rem;
  width: 2rem;
}

button.outlined, .button.outlined{
  background: var(--white);
  color: var(--blue);
  border: .2rem solid var(--blue);
}

button.red,
.button.red{
  background: var(--red);
  color: var(--white);
}

button.grey,
.button.grey{
  background: var(--grey-light);
  color: var(--grey-dark);
}

/** Header **/

.content header{
  width: 80%;
  margin: 3.5rem auto;
}

.content header img{
  width: 16.7rem;
}